// секция экспертности

.expertise {
	&__main {
		position: relative;
		margin-bottom: 80px;
		&-logo {
			position: absolute;
			top: 162px;
			left: 412px;
		}
	}
	&__statistic {
		display: grid;
		grid-template-columns: 430px 353px;
		justify-content: space-between;
		row-gap: 140px;
		&-item {
			position: relative;
		}
		&-number {
			font-family: $fourth-family;
			font-weight: 500;
			font-size: 140px;
			letter-spacing: 0.05em;
			color: #dfdc01;
			& > span {
				color: #2d2650;
			}
		}
		&-desc {
			font-family: $second-family;
			font-weight: 700;
			font-size: 25px;
			letter-spacing: 0.05em;
			color: #2d2650;
			backdrop-filter: blur(20px);
			box-shadow: 0 1px 24px -1px rgba(0, 0, 0, 0.1);
			background: linear-gradient(
				316deg,
				rgba(221, 221, 221, 0.4) 0%,
				rgba(223, 223, 223, 0.1) 58.85%
			);
			padding: 6px 32px;
			box-sizing: border-box;
			border-radius: 7px;

			position: absolute;
			top: 125px;
			left: 45px;
		}
		&-signature {
			font-family: $first-family;
			font-weight: 400;
			font-size: 14px;
			letter-spacing: 0.05em;
			color: #2b2a28;

			position: absolute;
			top: 165px;
			left: 130px;
		}
	}
}


@media (max-width: 1280px) {
	.expertise {
		&__main-logo {
			display: none;
		}
		&__statistic {
			grid-template-columns: 353px 353px;
		}
	}
}