.footer {
	background-image: url(../img/FooterBG.webp);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	&__first {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		margin-bottom: 100px;
		&-menu {
			display: grid;
			grid-template-columns: 215px 215px 176px;
			gap: 24px 50px;
		}
		&-info {
			/* max-width: 170px; */
		}
	}
	&__info {
		&-text {
			font-family: $second-family;
			font-weight: 700;
			font-size: 25px;
			letter-spacing: 0.05em;
			color: #2d2650;
			text-align: right;
			display: flex;
			justify-content: flex-end;
		}
		&-phone {
			margin-bottom: 5px;
		}
		&-email {
			font-size: 20px;
			margin-bottom: 16px;
		}
		&-adress {
			font-family: $first-family;
			font-weight: 400;
			font-size: 14px;
			letter-spacing: 0.05em;
			text-align: right;
			color: #2b2a28;
			margin-bottom: 16px;
		}
		&-message {
			float: right;
		}
	}
	&__menu {
		display: flex;
		flex-direction: column;
		&-title {
			display: inline-block;
			font-family: 'Handjet', sans-serif;
			font-weight: 700;
			font-size: 25px;
			letter-spacing: 0.05em;
			color: #2d2650;
			margin-bottom: 16px;
		}
		&-item {
			display: inline-block;
			font-family: 'PT Sans', sans-serif;
			font-weight: 400;
			font-size: 14px;
			letter-spacing: 0.05em;
			color: #2b2a28;
			margin-bottom: 12px;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	&__main-line {
		height: 3px;
		width: 90%;
		background-color: #dfdc01;
		margin: 0 auto;
		margin-bottom: 42px;
	}

	&__second {
		display: flex;
		gap: 12px 77px;
		flex-wrap: wrap;
		margin-bottom: 49px;
		&-info p,
		a {
			font-family: $first-family;
			font-weight: 400;
			font-size: 14px;
			letter-spacing: 0.05em;
			color: #555454;
		}
		&-info:nth-child(2) {
			display: none;
		}
	}
}

.footer__main {
	padding-top: 245px;
}

.asteq {
	position: relative;
}
.asteq::after {
	content: url(/icons/asteq.svg);
	height: 10px;

	position: absolute;
	left: 104px;
	top: 1px;
}

.footer__mobile-img {
	display: none;
}

@media (max-width: 1280px) {
	.footer {
		background-position: top;
		background-size: contain;
		&__first {
			&-img {
				display: none;
			}
		}
		&__main-line {
			display: none;
		}
		&__second {
			flex-direction: column;
			&-info:nth-child(3) {
				display: none;
			}
		}
	}
}

/* @media (max-width: 768px) {
	.footer {
	}
} */
